<ion-split-pane contentId="menuId">
    <ion-menu contentId="menuId" menuId="menuId" side="start" type="overlay">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
                    <ion-item [routerLink]="p.url" [routerDirection]="'root'" [class.active-item]="selectedPath.startsWith(p.url)">
                        <ion-label>{{ p.tittle }}</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-item tappable routerLink="/login" routerDirection="root">
                    <ion-icon slot="start" name="log-out"></ion-icon>
                    <ion-label>Logout</ion-label>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="menuId" main></ion-router-outlet>
</ion-split-pane>