<ion-header>
    <ion-toolbar>
        <ion-title>Tabs + side menu</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="block" routerLink="/menu/first">Login</ion-button>
</ion-content>