<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="menuId"></ion-menu-button>
        </ion-buttons>
        <ion-title>second</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    second page
    <ion-button expand="full" routerLink="/menu/second/details" routerDirection="forward"> Detail forward</ion-button>


</ion-content>