<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="menuId"></ion-menu-button>
        </ion-buttons>
        <ion-title>Tab 2</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    tab 2 page

</ion-content>