<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="menuId"></ion-menu-button>
        </ion-buttons>
        <ion-title>Tab 1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    tab1 page
    <ion-button expand="full" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward"> Detail forward</ion-button>
</ion-content>